.start-container {
  background-color: rebeccapurple;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.left-panel {
  width: 50%;
  height: 100%;
  background-color: hotpink;
  position: absolute;
}

.right-panel {
  width: 50%;
  height: 100%;
  background-color: aqua;
  position: absolute;
  right: 0;
}

.start-btn {
  width: 40vh;
  height: 20vh;
  background-color: rebeccapurple;
  position: absolute;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
