.start-container {
  background-color: rebeccapurple;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
}

.start-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.left-panel {
  width: 2000px;
  height: 2000px;
  background-color: hotpink;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(0, -50%) rotate(30deg);
  transform-origin: 100% 50%;
  transition: all 0.3s ease 0s;
}

.right-panel {
  width: 2000px;
  height: 2000px;
  background-color: aqua;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0, -50%) rotate(30deg);
  transform-origin: 0 50%;
  transition: all 0.3s ease 0s;
}

.left-panel.open {
  transform: translate(-50vh, -50%) rotate(30deg);
}

.right-panel.open {
  transform: translate(50vh, -50%) rotate(30deg);
}

.start-btn {
  padding: 30px;
  height: 100px;
  background-color: rebeccapurple;
  color: white;
  font-size: 32px;
  border: 2px solid white;
  border-radius: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.start-btn.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
}

.btn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 0;
  bottom: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease 0.3s, visibility 0s ease 0.3s;
}

.btn-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.battle-btn {
  padding: 30px;
  height: 100px;
  background-color: rebeccapurple;
  color: white;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 20vh;
  cursor: pointer;
  text-transform: uppercase;
}

.start-btn:hover,
.battle-btn:hover {
  background-color: rgb(55, 26, 85);
}

/* BATTLE CSS */
.game-container {
  background-color: rebeccapurple;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
}

.game-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.gif {
  width: 20vh;
  height: 20vh;
  margin: 12px;
  position: absolute;
  transition: all 1s ease 0s;
  overflow: hidden;
}

.gif img {
  height: 100%;
  min-width: 100%;
  position: absolute;
}

.gif img.still {
  opacity: 1;
}

.team-1 {
  border: 2px solid hotpink;
  border-radius: 20px;
}

.team-2 {
  border: 2px solid aqua;
  border-radius: 20px;
}

.team-1[class*=" pos-"] {
  left: 0;
}

.team-2[class*=" pos-"] {
  right: 0;
}

.pos-0 {
  top: 0;
}
.pos-1 {
  top: calc((20vh + 12px) * 1);
}
.pos-2 {
  top: calc((20vh + 12px) * 2);
}
.pos-3 {
  top: calc((20vh + 12px) * 3);
}
.pos-4 {
  top: calc((20vh + 12px) * 4);
}
.pos-5 {
  top: calc((20vh + 12px) * 5);
}

/* ROUND 0 */
.game-container.round-0 .pos-0 {
  top: 30vh;
}

.game-container.round-0 .pos-0 img.still {
  opacity: 0;
}

.game-container.round-0 .team-1.pos-0 {
  left: calc(50% - 20vh - 24px);
}

.game-container.round-0 .team-2.pos-0 {
  right: calc(50% - 20vh - 24px);
}

.game-container.round-0 .team-1[class*=" pos-"],
.game-container.round-0 .team-2[class*=" pos-"] {
  transform: translateY(20vh);
}

.game-container.round-0 .team-1.pos-0,
.game-container.round-0 .team-2.pos-0 {
  transform: none; /* SCALE ?*/
}

/* ROUND 1 */
.game-container.round-1 .pos-1 {
  top: 30vh;
}

.game-container.round-1 .pos-1 img.still {
  opacity: 0;
}

.game-container.round-1 .team-1.pos-1 {
  left: calc(50% - 20vh - 24px);
}

.game-container.round-1 .team-2.pos-1 {
  right: calc(50% - 20vh - 24px);
}

.game-container.round-1 .team-1[class*=" pos-"],
.game-container.round-1 .team-2[class*=" pos-"] {
  transform: translateY(0);
}

.game-container.round-1 .team-1.pos-1,
.game-container.round-1 .team-2.pos-1 {
  transform: none; /* SCALE ?*/
}

/* ROUND 2 */
.game-container.round-2 .pos-2 {
  top: 30vh;
}

.game-container.round-2 .pos-2 img.still {
  opacity: 0;
}

.game-container.round-2 .team-1.pos-2 {
  left: calc(50% - 20vh - 24px);
}

.game-container.round-2 .team-2.pos-2 {
  right: calc(50% - 20vh - 24px);
}

.game-container.round-2 .team-1[class*=" pos-"],
.game-container.round-2 .team-2[class*=" pos-"] {
  transform: translateY(calc(-1 * 20vh));
}

.game-container.round-2 .team-1.pos-2,
.game-container.round-2 .team-2.pos-2 {
  transform: none; /* SCALE ?*/
}

/* ROUND 3 */
.game-container.round-3 .pos-3 {
  top: 30vh;
}

.game-container.round-3 .pos-3 img.still {
  opacity: 0;
}

.game-container.round-3 .team-1.pos-3 {
  left: calc(50% - 20vh - 24px);
}

.game-container.round-3 .team-2.pos-3 {
  right: calc(50% - 20vh - 24px);
}

.game-container.round-3 .team-1[class*=" pos-"],
.game-container.round-3 .team-2[class*=" pos-"] {
  transform: translateY(calc(-2 * 20vh));
}

.game-container.round-3 .team-1.pos-3,
.game-container.round-3 .team-2.pos-3 {
  transform: none; /* SCALE ?*/
}

/* ROUND 4 */
.game-container.round-4 .pos-4 {
  top: 30vh;
}

.game-container.round-4 .pos-4 img.still {
  opacity: 0;
}

.game-container.round-4 .team-1.pos-4 {
  left: calc(50% - 20vh - 24px);
}

.game-container.round-4 .team-2.pos-4 {
  right: calc(50% - 20vh - 24px);
}

.game-container.round-4 .team-1[class*=" pos-"],
.game-container.round-4 .team-2[class*=" pos-"] {
  transform: translateY(calc(-3 * 20vh));
}

.game-container.round-4 .team-1.pos-4,
.game-container.round-4 .team-2.pos-4 {
  transform: none; /* SCALE ?*/
}

/* ROUND 5 */
.game-container.round-5 .pos-5 {
  top: 30vh;
}

.game-container.round-5 .pos-5 img.still {
  opacity: 0;
}

.game-container.round-5 .team-1.pos-5 {
  left: calc(50% - 20vh - 24px);
}

.game-container.round-5 .team-2.pos-5 {
  right: calc(50% - 20vh - 24px);
}

.game-container.round-5 .team-1[class*=" pos-"],
.game-container.round-5 .team-2[class*=" pos-"] {
  transform: translateY(calc(-4 * 20vh));
}

.game-container.round-5 .team-1.pos-5,
.game-container.round-5 .team-2.pos-5 {
  transform: none; /* SCALE ?*/
}

/* ROUND WINNER */
.game-container.round-winner-1 .score-container,
.game-container.round-winner-2 .score-container {
  top: 30vh;
}

.game-container.round-winner-1 .gif.team-1 img.still,
.game-container.round-winner-2 .gif.team-2 img.still {
  opacity: 0;
}

.game-container.round-winner-1 .gif.team-2,
.game-container.round-winner-2 .gif.team-1 {
  opacity: 0;
  left: -100%;
}

.game-container.round-winner-1 .gif.pos-0,
.game-container.round-winner-1 .gif.pos-1,
.game-container.round-winner-1 .gif.pos-2,
.game-container.round-winner-2 .gif.pos-0,
.game-container.round-winner-2 .gif.pos-1,
.game-container.round-winner-2 .gif.pos-2 {
  top: 50vh;
}

.game-container.round-winner-1 .gif.pos-3,
.game-container.round-winner-1 .gif.pos-4,
.game-container.round-winner-1 .gif.pos-5,
.game-container.round-winner-2 .gif.pos-3,
.game-container.round-winner-2 .gif.pos-4,
.game-container.round-winner-2 .gif.pos-5 {
  top: 75vh;
}

.game-container.round-winner-1 .gif.pos-0,
.game-container.round-winner-1 .gif.pos-3,
.game-container.round-winner-2 .gif.pos-0,
.game-container.round-winner-2 .gif.pos-3 {
  left: 50%;
  transform: translateX(-175%);
}

.game-container.round-winner-1 .gif.pos-1,
.game-container.round-winner-1 .gif.pos-4,
.game-container.round-winner-2 .gif.pos-1,
.game-container.round-winner-2 .gif.pos-4 {
  left: 50%;
  transform: translateX(-50%);
}

.game-container.round-winner-1 .gif.pos-2,
.game-container.round-winner-1 .gif.pos-5,
.game-container.round-winner-2 .gif.pos-2,
.game-container.round-winner-2 .gif.pos-5 {
  left: 50%;
  transform: translateX(75%);
}

/* SCORE */
.score-container {
  width: 40vh;
  height: 20vh;
  position: absolute;
  top: 60vh;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateX(-50%);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.score-title {
  text-align: center;
  flex: 0 0 40vh;
}
.team-1-score-container {
}
.team-1-score-title {
}
.team-1-score {
  text-align: center;
  font-size: 40px;
}
.team-2-score-container {
}
.team-2-score-title {
}
.team-2-score {
  text-align: center;
  font-size: 40px;
}

/* MESSAGE */
.message-container {
  width: 40vh;
  height: 20vh;
  position: absolute;
  top: 5vh;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateX(-50%);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
}

.message-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.message {
  text-align: center;
}
.reset-btn {
  padding: 12px 20px;
  height: 44px;
  background-color: rebeccapurple;
  color: white;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 20vh;
  cursor: pointer;
  text-transform: uppercase;
}
